.widget{
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    background: var(--color-white);
    border-radius: 50px;
    border: 1px solid #ccc;
    z-index: 99;
    box-shadow: 0 0 30px #ccc;
    margin-top: -50px;
}

.widget .item{
    border-right: 1px solid #ccc;
    text-align: center;
    padding: 0 10px;
}

.widget .item:last-child{
    border-right: 0;
}