.btn{
    background-color: var(--primary);
    padding: 20px 40px;
    border: solid 2px var(--primary);
    height: 40px;
    max-width: 286px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 200ms ease-in;
    margin-right: 10px;
}

.btn:hover{
    background-color: white;
    color: var(--primary);
}